$p: 16px
$lh: 24px
$radius: 4px

$color-primary: darkslateblue
$color-secondary: sienna

$nav-height: $lh * 2 + $p * 2

$color-text-primary: rgba(#000,.86)
$color-text-greyed: rgba(#000,.50)
$color-text-dim: rgba(#000, .25)
$color-text-inverted: rgba(#fff, 0.7)

$focus-shadow: inset 0 0 0 2px rgba($color-primary, 0.7)
$hover-shadow: inset 0 0 0 2px rgba($color-primary, 0.2)

*
  box-sizing: border-box


html, body, div, span
  margin: 0
  padding: 0
  border: 0
  font-size: 100%
  vertical-align: baseline


html, body, .container
  height: 100%
  font-size: 16px
  color: $color-text-primary

input, button, div
  &:focus, &:active
    outline: none

body
  line-height: var(--lh)
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  background-color: #fafafa


.container
  display: flex
  flex-direction: column-reverse


.main
  position: absolute
  top: 0
  left: 0
  right: 0
  bottom: $nav-height


.debug
  position: absolute
  top: 0
  left: 0
  z-index: 100
  padding: $p/2
  pointer-events: none
  color: white
  font-size: 0.75rem
  background: rgba(#000, 0.3)
  border-bottom-right-radius: $radius


.nav
  height: $nav-height
  background: $color-primary


.viewport
  height: 100%
  overflow-x: hidden


  &--dragging
    user-select: none


.test
  position: absolute
  top: 500px
  width: 100%
  height: 100px
  background: blue


.logs
  position: relative


.log
  position: absolute
  top: 0
  left: 0
  width: 100%
  padding: 1px $p*6 1px $p*3

  &__time
    position: absolute
    top: -$lh / 2
    left: 0
    width: $p*2.5
    text-align: right
    font-size: 0.8rem
    color: $color-text-dim


  &__box
    position: relative
    display: flex
    align-items: center
    height: 100%
    border-radius: $radius


  &__category
    display: flex
    flex-direction: column
    width: $lh * 2
    height: 100%
    cursor: pointer
    border-top-left-radius: $radius
    border-bottom-left-radius: $radius
    overflow: hidden
    div
      flex: 1
      // &:first-child
      //   border-top-left-radius: $radius
      // &:last-child
      //   border-bottom-left-radius: $radius


  &__title
    flex-grow: 1
    display: flex
    align-items: center
    height: 100%
    border-radius: 0 $radius $radius 0
    background: rgba(#000, 0.07)
    transition: background-color 0.5s

  &__titleInput
    margin-left: $p/2
    margin-right: $lh + $p/2
    padding: $p/2
    border-radius: $radius
    display: block
    resize: none
    width: 100%
    border: 0
    font-family: inherit
    font-size: 1.4rem
    font-weight: lighter
    letter-spacing: 0.75px
    background: transparent
    transition: box-shadow 0.5s
    &:hover
      box-shadow: $hover-shadow
    &:focus
      box-shadow: $focus-shadow




  &__delete
    position: absolute
    right: 0
    top: 0
    width: $lh
    height: $lh
    max-height: 100%
    padding: 0
    border-bottom-left-radius: $radius
    border-top-right-radius: $radius
    border: solid 1px rgba(#000, 0.1)
    border-right: 0
    border-top: 0
    background: rgba(#000, 0)
    line-height: 0
    cursor: pointer
    z-index: 100
    &:hover, &:active, &:focus
      background: rgba(#F00, 0.2)

  &__category
    .log__categorySelect
      position: relative
      font-size: 0.7em
      align-items: center
      justify-content: center
      text-align: center
      color: $color-text-inverted
      transition: flex-basis 0.5s
      overflow: hidden
    span
      position: absolute
      display: block
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      transition: opacity 0.5s
      opacity: 0
    .log__categorySelect:hover
      // flex-basis: 25%
      span
        opacity: 1
    .log__categorySelect--selected
      &, &.log__categorySelect:hover
        flex-basis: 100%
      span
        opacity: 0


  &.log--60min
    .log__delete
      height: 100%
      border-bottom-right-radius: $radius
      border-bottom-left-radius: 0
      border-bottom: 0

    .log__titleInput
      font-size: 0.9rem

    .log__categorySelect:hover
      flex: 1
      span
        display: none

  &.log--30min
    .log__titleInput
      font-size: 0.7rem


  &--edit .log__box
    box-shadow: inset 0 0 0 1px rgba(#000,1)

  /* Category specific styles */

  $logs-colors: ("Ghost": #1165af,
  "SelfCare": #8c3f1b,
  "Recreative": #6b8c1b,
  "Creative": #1b538c,
  "SelfGrowth": #751b8c)

  @each $name, $color in $logs-colors
    &.log--#{$name}
      .log__title
        background-color: rgba($color, 0.25)
    .log__categorySelect--#{$name}
      background-color: $color

  &--Ghost .log__box
    background-color: rgba(#00F, 0.2)
  &--Uncategorized
  &--Empty .log__box
    opacity: 0.25
